* {
    box-sizing: border-box;
}

html {
    background-color: $pink;
    color: red;
    display: block;
    font-size: 100%;
    top: 1px;
    right: 1px;
    left: 1px;
    padding: 2rem 0;
    position: relative;

    @include breakpoint($huge) {
        font-size: 1.125rem;

        &:foo {
            font-size: 1.125rem;
        }
    }
}

body {
    color: $typographyColor;
    font-family: $fontSerif;

    @include breakpoint($huge) {
        font-size: 1.125rem;

        &:foo {
            font-size: 1.125rem;
        }
    }
}