* {
    box-sizing: border-box;

    &:focus {
        outline: 2px dotted currentColor;
        outline-offset: 1px;
    }
}

html {
    font-size: 100%;
}

body {
    color: $typographyColor;
    font-family: $fontRegular;
    font-weight: 400;
    line-height: 1.5;
    font-size: .9rem;

    @include breakpoint($small) {
        font-size: 1rem;
    }
}

main {
    padding-top: 3rem;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.5em 0 .5em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    margin: 2em 0 1.5em;
    font-size: 2rem;

    @include breakpoint($small) {
        font-size: 2.25rem;
    }

    @include breakpoint($large) {
        font-size: 2.75rem;
    }
}

h2 {
    font-size: 1.35rem;

    @include breakpoint($tiny) {
        font-size: 1.5rem;
    }

    @include breakpoint($large) {
        font-size: 1.75rem;
    }
}

h3 {
    font-size: 1.15rem;

    @include breakpoint($large) {
        font-size: 1.35rem;
    }
}

h4, h5, h6 {
    margin: 0;
    font-size: 1.15em;
}

p {
    margin: 1em 0;
}

a {
    color: currentColor;
    text-decoration: none;
}

address {
    font-style: normal;

    a {
        box-shadow: 0 1px 0 0 currentColor;

        &:hover, &:focus {
            box-shadow: none;
        }
    }
}

figure {
    margin: 2.5rem 0;
    display: table;
    position: relative;

    img {
        max-width: 100%;
    }

    @include breakpoint($small) {
        &.small {
            max-width: 40%;
        }

        &.align-left {
            float: left;
            margin: 1.25rem 1.5rem 1.25rem 0;
        }

        &.align-right {
            float: right;
            margin: 1.25rem 0 1.25rem 1.5rem;
        }
    }

    @include breakpoint($medium) {
       &.small {
           max-width: 35%;
       }

       &.middle {
           max-width: 50%;
       }
   }
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    text-align: left;

    p {
        margin: 0;
        display: inline-block;
        font-size: .9rem;
        text-align: left;
    }
}

.error-page main {
    padding: 1rem 0 5rem;

    a {
        box-shadow: 0 1px 0 0 currentColor;

        &:hover, &:focus {
            box-shadow: none;
        }
    }
}
