
@import url("foo");

something {
    margin: 1rem;
    padding: 1rem;
    h1 {margin: 1rem; padding: 1rem;}
    h2 {
        margin: 1rem;
        padding: 1rem;
    }
    @include foo();
    @include foo();
    @include bar(baz) {margin: 1rem; padding: 1rem;}
}


h1 {color: red;}

h1 {
    .foo,
   .bar {color: red;}
}
