something {
    @include foo();
    @include foo();
    padding: 1rem;
    margin: 1rem;

    h1 {
        padding: 1rem;
        margin: 1rem;
    }

    h2 {
        padding: 1rem;
        margin: 1rem;
    }

    @include bar(baz) {
        padding: 1rem;
        margin: 1rem;
    }
}

h1 {
    color: red;
}
